
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/jewelery">Back to shopping!</a>
                    </li>
                    
                </ul>
            </nav>
        </header>
        <ul class="cartSection">
            <% for(var i=0; i<cart.length; i++) {%>
                <li class="message <%= cart[i].priority %>">
                    <span id="storeItem" name="storeItemName">
                        <%= cart[i].item %>
                    </span>
                    <span>
                        <%= cart[i].description %>
                    </span>
                    <img src="<%= cart[i].image %>" alt="<%= cart[i].title %>">
                    <span class="hidden" id="storeItemId" name="storeItemIdVal">
                        <%= cart[i].id %>
                    </span>
                    <span> 
                        <button type="submit" class="trash">Trash</button>
                    </span>
                    <span> Buy Me
                        <button type="submit" class="buy">Buy Me</button>
                    </span>
                    <span> 
                        <button type="submit" class="checkout">Checkout</button>
                    </span><%= cart[i].paid %></span>
                    <% } %>
        </ul>
        

        <script src="main.js"></script>
    </body>