<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What we have</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>


    <header>
        <nav>

            <ul>
                <li>
                    <a href="/women">Womens Collection</a>
                </li>
                <li>
                    <a href="/men">Mens Collection</a>
                </li>
                <li>
                    <a href="/jewelery">Jewelery Collection </a>
                </li>
                <li>
                    <a href="/electronics">Electronics Collection</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Your Vibes</h1>

    <ul class="general-category">
        <% for(var i=0; i<inventory.length; i++) {%>
            <% if(inventory[i].category !== "men's clothing" && inventory[i].category !== "women's clothing" ) {%>
                <li class="message <%= inventory[i].title %>">
                    <span>
                        <%= inventory[i].title %>
                    </span>
                    <span>
                        :::
                        <a href="/<%= inventory[i].category %>">Shop this collection!</a>
                    </span>
                    <img src="<%= inventory[i].image %>" alt="<%= inventory[i].title %>">
                </li>
                <% } %>
                    <% } %>
    </ul>

    <section class="featuedSection">

    </section>
    <script src="main.js"></script>
</body>

</html>