<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jewelery page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/women">Womens Collection</a>
                </li>
                <li>
                    <a href="/men">Mens Collection</a>
                </li>
                <li>
                    <a href="/jewelery">Jewelery Collection </a>
                </li>
                <li>
                    <a href="/electronics">Electronics Collection</a>
                </li>
            </ul>
        </nav>
    </header>
    <ul class="jewelerySection">
        <% for(var i=0; i<inventory.length; i++) {%>
            <% if(inventory[i].category === "jewelery") {%>
                <li class="message <%= inventory[i].priority %>">
                    <span>
                        <%= inventory[i].title %>
                    </span>
                    <span>
                        <%= inventory[i].description %>
                    </span>
                    <img src="<%= inventory[i].image %>" alt="<%= inventory[i].title %>">
                    <span>
                        <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
                    </span>
                </li>
                <% } %>
                    <% } %>
    </ul>
    <h3>MiniCart</h3>
    <ul class="miniCart">
        <a href="/cart">Go to cart!</a>
        <% for(var i=0; i< miniCart.length; i++) {%>
            <li class="message <%= miniCart[i].priority %>">
                <span id="storeItem" name="storeItemName">
                    <%= miniCart[i].item %>
                </span>
                <span>
                    <%= miniCart[i].description %>
                </span>
                <img src="<%= miniCart[i].image %>" alt="<%= miniCart[i].title %>">
                <span class="hidden" id="storeItemId" name="storeItemIdVal">
                    <%= miniCart[i].id %>
                </span>
                <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
                <span>
                    <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
                </span>
            </li>
            <% } %>
    </ul>

    <script src="main.js"></script>

</body>
</html>